.weather-box{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color:#626262;
    background-color: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    height: 50px;
    padding: 15px;
    border-radius:50% ;
    background-color: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 40px 0;
}

.weather-temp{
    color:#fff;
    font-size: 80px;
    line-height: 1;
}

.weather-city{
    color:#fff;
    font-size: 40px;
}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px; 
}

.weather-data .col span{
    display: block;
    font-size: 12px;
}

.weather-data .col img{
    width: 36px;
    margin-top: 10px;
}

.button-action{
    max-height: 80px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 4px;
    color:#626262;
    background-color: #ebfffc;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 70%;
    /* text-wrap:wrap; */
}


.slider-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slider {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider.on {
    background-color: #4caf50;
  }
  
  .slider.off {
    background-color: #ccc;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: left 0.3s ease;
  }
  
  .slider.on .circle {
    left: 27.5px; 
  }
  
  .slider.off .circle {
    left: 2.5px;
  }
  